* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*ESTILOS HEADER */
.headerGrid {
  background-color: #011F26;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "headerLogo headerNav headerIconos";
  position: sticky;
  top: 0;
}
.headerGrid .headerLogo {
  grid-area: headerLogo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.headerGrid .headerNav {
  grid-area: headerNav;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerGrid .headerNav .navUl {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerGrid .headerNav .navUl li {
  list-style-type: none;
}
.headerGrid .headerNav .navUl li a {
  color: white;
  margin: 10px;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
}
.headerGrid .headerNav .navUl li a:hover {
  color: #EECE1A;
}
.headerGrid .headerIconos {
  height: 100%;
  margin-left: 13%;
  grid-area: headerIconos;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.headerGrid .headerIconos .headerIconosUl {
  display: flex;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerGrid .headerIconos .headerIconosUl li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.headerGrid .headerIconos .headerIconosUl li a {
  color: white !important;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
}
.headerGrid .headerIconos .headerIconosUl li a:hover {
  color: #EECE1A;
}

/* ESTILOS DEL MAIN INDEX */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sectionTitulo divFotoPerfil";
}
main .sectionTitulo {
  grid-area: sectionTitulo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .sectionTitulo .h1Index {
  font-size: 3, 5rem;
  color: #111112;
}
main .sectionTitulo .h2Index {
  font-size: 2rem;
  color: #EECE1A;
}
main .sectionTitulo .pIndex {
  font-size: 1rem;
}
main .sectionTitulo .aIndex {
  font-size: 1rem;
}
main .divFotoPerfil {
  grid-area: divFotoPerfil;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .divFotoPerfil img {
  margin-top: 20px;
}

/* ESTILOS MAIN PROYECTOS */
.cardsSuperiores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "misProyectos misProyectos misProyectos" "cardAktual cardClarisas cardEdificap";
}
.cardsSuperiores .misProyectos {
  grid-area: misProyectos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsSuperiores .misProyectos .h1MisProyectos {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsSuperiores .cardAktual {
  grid-area: cardAktual;
  height: 500px;
  width: 400px;
  border: 2px solid gray;
}
.cardsSuperiores .cardAktual .cardImage {
  height: 50%;
  width: 100%;
  top: 0;
}
.cardsSuperiores .cardAktual .cardText .h2 {
  font-size: 2rem;
  color: #111112;
  padding-left: 10px;
}
.cardsSuperiores .cardAktual .cardText .p {
  font-size: 1rem;
  color: #111112;
  padding-left: 10px;
}
.cardsSuperiores .cardAktual .cardText .a {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 10px;
  bottom: 0;
}
.cardsSuperiores .cardClarisas {
  grid-area: cardClarisas;
  height: 500px;
  width: 400px;
  border: 2px solid gray;
}
.cardsSuperiores .cardClarisas .cardImage {
  height: 50%;
  width: 100%;
  top: 0;
}
.cardsSuperiores .cardClarisas .cardText .h2 {
  font-size: 2rem;
  color: #111112;
  padding-left: 10px;
}
.cardsSuperiores .cardClarisas .cardText .p {
  font-size: 1rem;
  color: #111112;
  padding-left: 10px;
}
.cardsSuperiores .cardClarisas .cardText .a {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 10px;
  bottom: 0;
}
.cardsSuperiores .cardEdificap {
  grid-area: cardEdificap;
  height: 500px;
  width: 400px;
  border: 2px solid gray;
}
.cardsSuperiores .cardEdificap .cardImage {
  height: 50%;
  width: 100%;
  top: 0;
}
.cardsSuperiores .cardEdificap .cardText h2 {
  font-size: 2rem;
  color: #111112;
  padding-left: 10px;
}
.cardsSuperiores .cardEdificap .cardText p {
  font-size: 1rem;
  color: #111112;
  padding-left: 10px;
}
.cardsSuperiores .cardEdificap .cardText a {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 10px;
  bottom: 0;
}

/* ESTILOS FOOTER */
.footerGrid {
  background-color: #011F26;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footerLogo footerDerechos footerWp";
}
.footerGrid .footerLogo {
  grid-area: footerLogo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.footerGrid .footerDerechos {
  grid-area: footerDerechos;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerGrid .footerWp {
  grid-area: footerWp;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
