/* ESTILOS DEL MAIN 404 */

.mainIndex404 {
    @include grid (4fr,1fr,20px);
    grid-template-areas: 
    "sectionTitulo divFotoPerfil";
    .sectionTitulo404{
        grid-area: sectionTitulo;
        @include flexbox (column, wrap, center, center);
            .h1Index404{
                font-size: $h1;
                font-weight: 900;
                color: $negro;
                text-align: center;  
            }
            .h2Index404{
                font-size: 5rem;
                font-weight: 700;
                color: $c-secundario;
                text-align: center;
                animation: fadeInOutWithRotation 3s ease-in-out infinite;
            }

            .pIndex404{
                font-size: $p;
                color: $negro;
                text-align: center;
                margin: 0;
            }
            .aIndex404{
                font-size: $p;
                width: 250px;
                .btnContactarme404 {
                    @extend .btn;
                    background-color: $negro;
                    color: $blanco;
                }
            }
        }
    .divFotoPerfil404{
        grid-area: divFotoPerfil;
        @include flexbox (column, wrap, center, center);
            .imgPortada404 {
                margin-top: 20px;
                max-width: 100%;
                width: 100%;
        }
    }    
}


@include responsive (480px,991px) {
    .mainIndex404 {
        @include grid (1fr,2fr,20px);
        grid-template-areas: 
        "sectionTitulo" 
        "divFotoPerfil";
        .sectionTitulo404{
            grid-area: sectionTitulo;
            @include flexbox (column, wrap, center, center);
            .h1Index404 {
                margin-top: 5%;
            }
            }
        .divFotoPerfil404{
            grid-area: divFotoPerfil;
            @include flexbox (column, wrap, center, center);
                .imgPortada404 {
                    margin-top: 20px;
                    max-width: 100%;
                    width: 100%;
            }
        }    
    }
}

@include responsive (1px,480px) {
    .mainIndex404 {
        @include grid (1fr,2fr,20px);
        grid-template-areas: 
        "sectionTitulo" 
        "divFotoPerfil";
        .sectionTitulo404{
            grid-area: sectionTitulo;
            @include flexbox (column, wrap, center, center);
            .h1Index404 {
                margin-top: 5%;
            }
            }
        .divFotoPerfil404{
            grid-area: divFotoPerfil;
            @include flexbox (column, wrap, center, center);
                .imgPortada404 {
                    margin-top: 20px;
                    max-width: 100%;
                    width: 100%;
            }
        }    
    }
}