/* ESTILOS MAIN CONTACTO */

.mainContacto {
    background-image: url(/assets/img/banner-computadora-br1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-area: main;
    @include grid (1fr 1fr,1fr,10px);
    grid-template-areas:
    "sectionUno sectionDos";
    .sectionUno {
        grid-area: sectionUno;
        @include flexbox (column, nowrap, center, flex-start);
        margin-left: 10%;
        color: $blanco;
        h1 {
            font-size: $h1;
            color: $blanco;
            text-align: center;
        }
        h2 {
            font-size: $h2;
            color: $c-secundario;
            text-align: center;
        }
        h3 {
            font-size: $h3;
            color: $blanco;
            text-align: center;
        }
    }
    .sectionDos {
        grid-area: sectionDos;
        color: $blanco;
        @include grid (1fr,1fr 4fr,10px);
        grid-template-areas:
        "tituloSectionDos"
        "formSectionDos";
        .tituloSectionDos {
            grid-area: tituloSectionDos;
            @include flexbox (row, nowrap, start, center);
            padding: 20px;
        }
        .formSectionDos {
            grid-area: formSectionDos;
            @include flexbox (column, nowrap, default, default);
            padding: 20px;
            font-size: 1rem;
            input, textarea{
                outline: none;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                width: 100%;
                margin-bottom: 15px;
                transition: border-color 0.3s;
            }
            .botonEnviar {
                @extend .btn;
            }
        }
    }
}



@media (min-width: 0px) and (max-width: 1024px) {
    .mainContacto {
        background-image: url(/assets/img/banner-computadora-br1.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        @include grid (1fr,1fr 2fr,0px);
        grid-template-areas:
        "sectionUno" 
        "sectionDos";
        .sectionUno {
            grid-area: sectionUno;
            @include flexbox (column, nowrap, center, center);
            margin: 5% 0;
            color: $blanco;
            text-align: center;
            @media (max-width: 768px) {
                margin: 2% 0%;
            }
        }
        .sectionDos {
            grid-area: sectionDos;
            color: $blanco;
            @include grid (1fr,1fr 4fr,0px);
            grid-template-areas:
            "tituloSectionDos"
            "formSectionDos";
            .tituloSectionDos {
                grid-area: tituloSectionDos;
                @include flexbox (row, wrap, center, center);
                margin: 0;
                padding: 0;
                height: 50%;
                text-align: center;

            }
            .formSectionDos {
                grid-area: formSectionDos;
                @include flexbox (column, nowrap, default, default);
                padding: 20px;
                font-size: $p;
                input, textarea{
                    outline: none;
                    border: 1;
                    padding: 5px;
                }
                .botonEnviar {
                    width: 100%;
                }
            }
        }
    }
}
