/* ESTILOS MAIN PROYECTOS */


.mainProyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    grid-template-areas: 
    "divProyectos"
    "secCardsHabilidades"
    "secCardsInferiores";
    .divProyectos {
        grid-area: divProyectos;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 5%;
        h1 {
            text-decoration: none;
        }
    }
    .secCardsSuperiores{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;

        .cardAktual {
            height: 500px;
            width: 400px;
            border: 2px solid gray;
            .cardImage {
                height: 50%;
                width: 100%;
                top: 0;
            }
            .cardText {
                .h2 {
                    font-size: $h2;
                    color: $negro;
                    padding-left: 10px;
    
                }
                .p {
                    font-size: $p;
                    color: $negro;
                    padding-left: 10px;
                }
                .a{
                    font-size: $p;
                    list-style-type: none;
                    padding-left: 10px;
                    bottom: 0;
                }
            }
        }
        .cardClarisas {
            height: 500px;
            width: 400px;
            border: 2px solid gray;
            .cardImage {
                height: 50%;
                width: 100%;
                top: 0;
            }
            .cardText {
                .h2 {
                    font-size: $h2;
                    color: $negro;
                    padding-left: 10px;
    
                }
                .p {
                    font-size: $p;
                    color: $negro;
                    padding-left: 10px;
                }
                .a{
                    font-size: $p;
                    list-style-type: none;
                    padding-left: 10px;
                    bottom: 0;
                }
            }
        }
        .cardEdificap {
            height: 500px;
            width: 400px;
            border: 2px solid gray;
            .cardImage {
                height: 50%;
                width: 100%;
                top: 0;
            }
            .cardText {
                h2 {
                    font-size: $h2;
                    color: $negro;
                    padding-left: 10px;
    
                }
                p {
                    font-size: $p;
                    color: $negro;
                    padding-left: 10px;
                }
                a{
                    font-size: $p;
                    list-style-type: none;
                    padding-left: 10px;
                    bottom: 0;
                }
            }
        }
    }
    .secCardsInferiores{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    
        .cardAktual {
            height: 500px;
            width: 400px;
            border: 2px solid gray;
            .cardImage {
                height: 50%;
                width: 100%;
                top: 0;
            }
            .cardText {
                .h2 {
                    font-size: $h2;
                    color: $negro;
                    padding-left: 10px;
    
                }
                .p {
                    font-size: $p;
                    color: $negro;
                    padding-left: 10px;
                }
                .a{
                    font-size: $p;
                    list-style-type: none;
                    padding-left: 10px;
                    bottom: 0;
                }
            }
        }
        .cardClarisas {
            height: 500px;
            width: 400px;
            border: 2px solid gray;
            .cardImage {
                height: 50%;
                width: 100%;
                top: 0;
            }
            .cardText {
                .h2 {
                    font-size: $h2;
                    color: $negro;
                    padding-left: 10px;
    
                }
                .p {
                    font-size: $p;
                    color: $negro;
                    padding-left: 10px;
                }
                .a{
                    font-size: $p;
                    list-style-type: none;
                    padding-left: 10px;
                    bottom: 0;
                }
            }
        }
        .cardEdificap {
            height: 500px;
            width: 400px;
            border: 2px solid gray;
            .cardImage {
                height: 50%;
                width: 100%;
                top: 0;
            }
            .cardText {
                h2 {
                    font-size: $h2;
                    color: $negro;
                    padding-left: 10px;
    
                }
                p {
                    font-size: $p;
                    color: $negro;
                    padding-left: 10px;
                }
                a{
                    font-size: $p;
                    list-style-type: none;
                    padding-left: 10px;
                    bottom: 0;
                }
            }
        }
    }
}    

