/* ESTILOS MAIN HABILIDADES */

.mainHabilidades {
    @include grid (1fr,1fr 6fr,0px);
    grid-template-areas: 
    "secTituloHabilidades"
    "secCardsHabilidades";
    .secTituloHabilidades {
        grid-area: secTituloHabilidades;
        @include flexbox (row, wrap, start, center);
        margin-left: 5%;
        h1 {
            font-size: $h1;
            color: $negro;
            text-align: center; 
        }
    }
    .secCardsHabilidades {
        grid-area: secCardsHabilidades;
        @include flexbox (row, wrap, space-evenly, center);
        .divHabilidades {
            @include flexbox (column, nowrap, initial, center);
            background-color: $gris;
            border-radius: 15px;
            width: 30%;
            margin-bottom: 10%;
            &:hover {
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
            }
            .iconHabilidades {
                height: 100px;
            }
            h2 {
                font-size: $h1;
                color: $negro;
                text-align: center;
                font-weight: 500;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                li {
                    font-size: $li;
                }
            }
            .marginHerramientas {
                margin: 10px 0px;
                font-size: $h1;
                color: $negro;
                text-align: center;
            }
            div {
                .iconoHerramientas {
                    height: 40%;
                }
            }
            a {
                text-decoration: none;
                button {
                    @extend .btn;
                    margin: 10% 0px;
                }
            }
        }
    }
}


@media (min-width: 0px) and (max-width: 1024px){
    .mainHabilidades {
        @include grid (1fr,1fr,0px);
        grid-template-areas: 
        "secTituloHabilidades"
        "secCardsHabilidades";
        .secTituloHabilidades {
            grid-area: secTituloHabilidades;
            @include flexbox (column, wrap, center, center);
            margin: 2% 0;
            h1 {
                font-size: $h1;
                color: $negro;
                text-align: center; 
            }
        }
        .secCardsHabilidades {
            grid-area: secCardsHabilidades;
            @include flexbox (row, wrap, space-evenly, center);
            .divHabilidades {
                @include flexbox (column, nowrap, initial, center);
                background-color: $gris;
                border-radius: 15px;
                width: 90%;
                margin-bottom: 10%;
                &:hover {
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
                }
                .iconHabilidades {
                    height: 100px;
                }
                h2 {
                    @include flexbox (column, wrap, center, center);
                    font-size: $h1;
                    color: $negro;
                    font-weight: 500;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    li {
                        font-size: $li;
                    }
                }
                .marginHerramientas {
                    margin: 10px 0px;
                    font-size: $h1;
                    color: $negro;
                    text-align: center;
                }
                div {
                    .iconoHerramientas {
                        height: 40%;
                    }
                }
            }
        }
    }
}
