// VARIABLES VARIOS
$h1: 3,5rem;
$h2: 2rem;
$h3: 1,5rem;
$h4: 1,25rem;
$p: 1rem;


// VARIABLES PALETA DE COLORES
$c-principal: #011F26;
$c-secundario: #EECE1A;
$gris: #E6E6E6;
$blanco: white;
$negro: #111112;

// VARIABLES BACKGROUNDS