/* ESTILOS MAIN SOBRE MI */

.mainSobreMi {
    @include grid (1fr 1.5fr,1fr, 20px);
    grid-template-areas: 
    "sectionFotografia sectionTexto";
    @media (min-width: 769px) and (max-width: 1024px) {
        @include grid (1fr,1fr,0px);
        grid-template-areas: 
        "sectionTexto"
        "sectionFotografia";
    }
    @media (max-width: 768px) {
        @include grid (1fr,1fr,0px);
    }
    .sectionFotografia {
        grid-area: sectionFotografia;
        @include flexbox (column, nowrap, center, center);
        @media (min-width: 769px) and (max-width: 1024px) {
            max-width: 100%;
            max-height: 60vh;
            object-fit: contain;
            width: auto; 
        }
        .imagenFotografia {
            height: 100%;
            max-width: 100%;
            width: 100%;
            object-fit: cover;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    .sectionTexto {
        grid-area: sectionTexto;
        @include flexbox (column, nowrap, default, default);
        margin: 40px;
        @media (max-width: 768px) {
            @include flexbox (column, nowrap, flex-start, center);
        }
        div {
            text-decoration: none;
            .textosSobreMi {
                font-size: $h1;
                margin-bottom: 0;
                margin-top: 20px;
            }
            .botonesSobreMi {
                @include flexbox (row, nowrap, space-evenly, center);
                display: flex;
                margin-top: 20px;
                a {
                    text-decoration: none;
                    .btnVerProyectos {
                        @extend .btn;
                    }
                    .btnVerLinkedIn {
                        @extend .btn;
                        background-color: $c-principal;
                        color: $blanco;
                        &:hover {
                            background-color: $cp-hover;
                            color: $blanco;
                        }
                    }
                }
            }
        }
    }
}
