/* ESTILOS MAIN SOBRE MI */

.mainSobreMi {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sectionFotografia sectionTexto";
    .sectionFotografia {
        grid-area: sectionFotografia;
        display: flex;
        justify-content: center;
        align-items: center;
        img .imagenFotografia {
            width: cover;
            height: cover;
        }
    }
    .sectionTexto {
        grid-area: sectionTexto;
        display: flex;
        flex-direction: column;
        margin: 40px;
        div {
            text-decoration: none;
            h1 .textosSobreMi {
                font-size: 1rem;
                margin-bottom: 0;
                margin-top: 20px;
            }
        }
        div {
            text-decoration: none;
            .textosSobreMi {
                font-size: 1rem;
                margin-bottom: 0;
                margin-top: 20px;
            }
            .botonesSobreMi {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 20px;
                a {
                    text-decoration: none;
                    .btnVerProyectos {
                        height: 50px;
                        width: 250px;
                        background-color: $c-secundario;
                        color: black;
                        border-radius: 5px;
                        border: none;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
                a{
                    text-decoration: none;
                    .btnVerLinkedIn {
                        height: 50px;
                        width: 250px;
                        background-color: none;
                        color: black;
                        border-radius: 5px;
                        border: solid black 2px;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    
                }

            }
        }
    }
}